body {
    background-color: beige;
    width: 100%;
}

p {
    font-size: larger;
    text-align: left;
    border: none;
}

h1 {
    text-align: center;
    color: rgb(59, 59, 253);
    width: auto;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 80%;
}